# --- Chặn thư mục build của .NET (Rất quan trọng) ---
**/bin/
**/obj/
InteractHub.API/appsettings.json
InteractHub.API/appsettings.*.json
InteractHub.API/Migrations
# --- Chặn thư mục của React ---
InteractHub.Client/node_modules/
InteractHub.Client/dist/
InteractHub.Client/.env

# --- Chặn file rác của Editor ---
.vscode/
.idea/
*.sln
*.user